<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vechat Sync Bot</title>
  <script>
    function logout() {
      document.cookie.split(';').forEach(cookie => {
        var eqi = cookie.indexOf('=')
        var name = eqi > -1 ? cookie.substr(0, eqi) : cookie
        document.cookie = name + '=;expires=Thu, 01 Jan 1970 00:00:00 GMT';
      })
      location.reload()
    }
  </script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/6.0.0/normalize.min.css"></link>
  <style>
    form {
      display: inline;
    }
  </style>
</head>
<body>
{{ if not .user }}
  <a href="/account/login">Login with Google</a>
{{ else }}
  <p>Hi, {{ .user.Email }},  <a href="#" onclick="logout()">Logout</a></p>
  <h3>My Telegram Bots</h3>
  <form action="/telegram" method="POST">
    <input type="text" name="bot_name" placeholder="Telegram Bot Name">
    <input type="text" name="bot_token" placeholder="Telegram Bot Token">
    <button>Submit</button>
  </form>
  <dl>
    {{ $links := .links }}
    {{ range .tgbots }}
      <dt>{{ .Name }}</dt>
      <dd>- status: {{ .Status }}</dd>
      <dd>
        - action:
          <form action="/telegram/toggle?id={{ .Id }}" method="POST"><button>toggle</button></form>
      </dd>
      <dd>
        - link:
          {{ if eq  (index $links .Name) ""}}
            <a href="/wechat?bot={{ .Id }}"><button>link to wechat</button></a>
          {{ else }}
            Already linked to: {{ index $links .Name }}, logout on your phone
          {{ end }}
      </dd>
  {{ else }}
    Get a new bot from @BotFather on Telegram.
  {{ end }}
  </dl>
{{ end }}

  <h3>How to Use</h3>
  <ol>
    <li>Login with Google</li>
    <li>Create a Telegram bot using @BotFather on telegram</li>
    <li>Get the token and a name, fill in the form and click `submit`(Note: the name you submitted will be used in the synced chat)</li>
    <li>Click `toggle` to enable your Telegram bot</li>
    <li>Click `link to wechat` and login a wechat account which you want to sync</li>
    <li>Get back to this page and refresh after several seconds, you'll se you Telegram bot is linked to your wechat account</li>
    <li>Now, messages sent to your wechat will also be sent to your Telegram bot</li>
    <li>To reply a wechat message, use the Telegram `reply` feature</li>
  </ol>

  <h3>TODO</h3>
  <ol>
    <li>Support more type messages, since only text messages are supported for now</li>
    <li>Auto-reconnect wechat bot after server reboot</li>
    <li>Make this more stable</li>
    <li>A webpage UI for human</li>
  </ol>
</body>
</html>